---
const {
  href,
  text,
  isRound = false,
  bgColor = "var(--section)",
  color = "var(--text)",
  hoverBgColor,
  hoverColor,
} = Astro.props;

const btnClasses =
  "flex items-center justify-center h-12 box-content gap-2 text-center text-sm font-bold transition hover:shadow-md active:scale-95 active:translate-y-0 select-none " +
  (isRound ? "rounded-full w-12" : "rounded-full px-6");

const btnStyle = `background-color: ${bgColor}; color: ${color} `;
---

<a class={btnClasses} style={btnStyle} href={href}>
  <div class="flex items-center justify-center gap-2">
    <slot />{text}
  </div>
</a>
<style>
  a {
    border: 1px solid var(--background);
    transition: 0.2s ease-out;
    /* filter: drop-shadow(3px 3px 0px rgb(0, 0, 0)); */
    /* filter: drop-shadow(2px 2px 0px rgb(0, 0, 0)); */
  }


  a:hover {
    background-color: var(--sectionHover) !important;
    /* background-image: linear-gradient(rgb(0 0 0/20%) 0 0); */
    /* border: 1px solid var(--text); */
    /* text-shadow: 2px 2px 0px rgb(244 244 244 /0.5px); */

    color: var(--text) !important;

    background-color: var(--mainAccent);
    box-shadow:
      1px 1px 0 black,
      2px 2px 0 black,
      3px 3px 0 black,
      4px 4px 0 black;
  }
  a:active {
    background-color: var(--main);
  }
</style>
